
.img-header{
    width: 200px;
}

.header-content{
    margin-top: 36px;
}

.form-shadow{
    box-shadow: 0 5px 25px rgba(50,50,93,.1), 0 0 10px rgba(0,0,0,.07);
    margin-left: 10px;
    background: url("../images/search_icon.png") no-repeat scroll;
    background-size: 20px 20px;
    background-position: 2% center; 
    padding-left: 50px;
    border-radius: 10px;
}

.form-group{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-heading{
    color:#305F72;
    font-size: 40px;
}

.img-slide-rounded{
    border-radius:10px;
}

.content-slider{
    padding: 0px 83px;
}

.container{
    color:#305F72;
    padding-left: 4px;
    padding-right: 4px;
    font-family: roboto;
}

.new-container{
    color:#305F72;
    padding-left: 4px;
    padding-right: 4px;
    font-family: roboto;
    background-color: red;
}

.avatar-icon{
    word-spacing: 20px;
}

.img-link {
    text-decoration: none;
}

.img-link:hover {
    text-decoration: none;
}

.navul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navul li{
    padding: 10px 0;
    font-size: 20px;
}

.main-content{
    position: relative;

}

.navul>li>a>span{
    padding-right: 20px;
} 

.fb-icon {
    font-size: 30px;
    color: #3B5998;
}
.twitter-icon {
    font-size: 30px;
    color: #1DA1F2;
}
.google-icon {
    font-size: 30px;
    color: #DD4B39;
}
.nav-link {
    color: #305F72;
}

.content-title {
    font-size: 20px;
}

.card-content {
    border-color: #9BC7E8;
    border-width: 3px;
    border-radius: 10px;
}
.card-content-green {
    border-color: #BBE088;
    border-width: 3px;
    border-radius: 10px;
}

.footer-component {
    margin-left: 20px;
    color: #56A0D8;
}

.font-weight-bold{
    font-size: 30px;
}

.font-weight-normal{
    padding-top: 10px;
}

.content-icon {
    font-size: 70px;
    padding-top: 20px;
    padding-left: 50px;
}

.author {
    font-size: 12px;
}

.content-image{
    width: 150px;
    padding-top: 20px;
}